body{
	width: 100%;
}
.servico {
  width: 127px;
  color: rgba(0,0,0,1.00);
  position: absolute;
  top: 15px;
  left: 70%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.servico:hover, .servico:focus, .servico:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.sobre {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 55%;
	right: 30%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.sobre:hover, .sobre:focus, .sobre:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.home {
	width: 85px;
  color: rgba(0,0,0,1.00);
  position: absolute;
  top: 15px;
  left: 40%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.home:hover, .home:focus, .home:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.logo {
  width: 40%;
  height: 100px;
  background: url( "../imagens/logo.png");
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 17px;
  overflow: hidden;
}
.entrar {
  width: 178px;
  height: 78px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 85%;
	right: 0%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  text-align: center;
  color: rgba(255,255,255,1);
	border: none;
	cursor: pointer;
}
.entrar {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.entrar:hover, .entrar:focus, .entrar:active {
	-webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.rodape {
  width: 100%;
  height: 124px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 1307px;
  left: 0px;
  overflow: hidden;
}
.rodape_txt {
	width: 10em;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 85px;
  left: 7em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: contain;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.rodape_txt_1 {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 85px;
  left: 1em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.lixo {
	width: 95%;
  height: 1096px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 150px;
	left: 2.5%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	border-color: #276955;
	border-radius: 34px;
	border-style: solid;
}
.lixo_head{
	left: 30%;
	top: 5%;
	width: 40%;
	position: absolute;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  text-align: center;
  color: rgba(39,105,85,1);
	border: 5px solid;
	border-radius: 35px;
}
.tipo label{
	font-family: Oswald;
  font-weight: Bold;
  font-size: 30px;
  text-align: left;
  color: rgba(39,105,85,1);
	display:inline-block;
	position: relative;
	width: 49%;
}
.tipo {
	height: 20%;
	width: 40%;
	left: 5%;
	top: 18%;
	position: absolute;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: left;
  color: rgba(39,105,85,1);
}
.tamanho{
	top: 50%;
	left: 5%;
	position: absolute;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: left;
  color: rgba(39,105,85,1);
}
.tamanho input{
	width: 72px;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: center;
  color: rgba(39,105,85,1);
	border: none;
	background: rgba(150,150,150,0.19);
}
.endereco_cep{
	top: 60%;
	left: 5%;
	width: 45%;
	position: absolute;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: left;
  color: rgba(39,105,85,1);
}
.endereco_cep input{
	width: 40%;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: center;
  color: rgba(39,105,85,1);
	border: none;
	background: rgba(150,150,150,0.19);
}
.endereco{
	top: 70%;
	left: 5%;
	width: 45%;
	position: absolute;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: left;
  color: rgba(39,105,85,1);
}
.endereco input{
	width: 70%;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: center;
  color: rgba(39,105,85,1);
	border: none;
	background: rgba(150,150,150,0.19);
}
.endereco input:focus, .tamanho input:focus, .endereco_cep input:focus{
	background: rgba(39,105,85,0.70);
	color: rgba(255,255,255,1.00);
}
.endereco_num{
	top: 70%;
	left: 50%;
	width: 45%;
	position: absolute;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: left;
  color: rgba(39,105,85,1);
}
.endereco_num input{
	width: 20%;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: center;
  color: rgba(39,105,85,1);
	border: none;
	background: rgba(150,150,150,0.19);
}
.imagem{
	top: 18%;
	left: 50%;
	width: 45%;
	position: absolute;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: left;
  color: rgba(39,105,85,1);
}
.imagem input{
	width: 100%;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  text-align: left;
  color: rgba(39,105,85,1);
	position:absolute;
	border: none;
	cursor: pointer; 
}
.enviar{
	width: 15%;
	top: 85%;
	right: 10%;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  text-align: center;
  color: rgba(39,105,85,1);
	position:absolute;
	border: 5px solid;
	border-radius: 15px;
}