* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.rodape {
  width: 100%;
  height: 124px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 1907px;
  left: 0px;
  overflow: hidden;
}
.rodape_txt {
	width: 10em;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 7em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: contain;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.rodape_txt_1 {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 1em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.juntese {
  width: 97.5%;
  height: 366px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 1037px;
	left: 1.25%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.juntese_png {
  width: 520px;
  height: 366px;
  background: url("../imagens/juntese.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.6000000238418579;
  position: absolute;
  top: 0px;
  right: 5%;
	border-left: 50%;
  overflow: hidden;
}
.juntese_head {
  width: 50%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 39px;
  font-family: Oswald;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
	font-size: 48px;
}
.juntese_txt {
  width: 50%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 39px;
  font-family: Oswald;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
	font-size: 30px;
}
.juntese_button {
  width: 251px;
  height: 70px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 70%;
  left: 123px;
	border-style: solid;
  border-radius: 35px;
	border-color: rgba(255,255,255,1.00);
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  color: rgba(255,255,255,1);
	cursor: pointer
}
.juntese_button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.juntese_button:hover, .juntese_button:focus, .juntese_button:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.epago {
  width: 45%;
  height: 460px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 52.5%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.epago {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.epago:hover, .epago:focus, .epago:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.epago_png {
  width: 90%;
  height: 90%;
	left: 5%;
	top: 5%;
  background: url("../imagens/dinheiro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.4000000238418579;
  position: absolute;
  overflow: hidden;
}
.epago_head {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 23px;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 40px;
  opacity: 1;
  text-align: center;
	color: rgba(255,255,255,1.00);
}
.epago_txt {
  width: 80%;
	left: 10%;
	right: 10%;
  position: absolute;
  top: 30%;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 24px;
  opacity: 1;
  text-align: center;
	color: rgba(255,255,255,1.00);
}
.comofun {
  width: 45%;
  height: 460px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 2.5%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.comofun {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.comofun:hover, .comofun:focus, .comofun:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.comofun_png {
  width: 60%;
  height: 60%;
	right: 20%;
	left: 20%;
	top: 20%;
	bottom: 20%;
  background: url("../imagens/caminhao.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.4000000238418579;
  position: absolute;
  overflow: hidden;
}
.comofun_head {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 23px;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 40px;
  opacity: 1;
  text-align: center;
	color: rgba(255,255,255,1.00);
}
.comofun_txt {
  width: 80%;
	left: 10%;
	right: 10%;
  position: absolute;
  top: 30%;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 24px;
  opacity: 1;
  text-align: center;
	color: rgba(255,255,255,1.00);
}
.coletai {
  width: 97.5%;
  height: 328px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 139px;
	left: 1.25%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	border: none;
}
.coletai_png {
  width: 50%;
  height: 328px;
  background: url("../imagens/garbage-clipart-mountain-garbage-1-transparent.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.5000000238418579;
  position: absolute;
  left: 50%;
  overflow: hidden;
}
.coletai_head {
  width: 47.5%;
  position: absolute;
  top: 10%;
	left: 2.5%;
	right: 50%;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 40px;
  opacity: 1;
  text-align: left;
	color: rgba(255,255,255,1.00);
}
.coletai_txt {
  width: 47.5%;
	left: 2.5%;
	right: 50%;
  position: absolute;
  top: 30%;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 24px;
  opacity: 1;
  text-align: left;
	color: rgba(255,255,255,1.00);
}
.classif {
  width: 97.5%;
  height: 417px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 1443px;
	left: 1.25%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.classif_head {
    width: 47.5%;
	left: 2.5%;
	right: 50%;
  position: absolute;
  top: 10%;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 48px;
  opacity: 1;
  text-align: left;
	color: rgba(255,255,255,1.00);
}
.classif_txt {
    width: 47.5%;
	left: 2.5%;
	right: 50%;
  position: absolute;
  top: 10%;
  font-family: Oswald;
  font-weight: Bold;
	font-size: 24px;
  opacity: 1;
  text-align: left;
	color: rgba(255,255,255,1.00);
}
.classif_png {
  width: 50%;
  height: 417px;
  background: url( "../imagens/kisspng-rubbish-bins-waste-paper-baskets-computer-icons-png-icon-free-trash-can-5ab15f7307ab30.5283715515215737470314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.599999988079071;
  position: absolute;
  top: 1443px;
  left: 50%;
  overflow: hidden;
}
#header {
  width: 100%;
  height: 99px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.servico {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 70%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.servico:hover, .servico:focus, .servico:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.sobre {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 55%;
	right: 30%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.sobre:hover, .sobre:focus, .sobre:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.home {
  width: 85px;
  color: rgba(39,105,85,1);
  position: absolute;
  top: 15px;
  left: 40%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.home:hover, .home:focus, .home:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.logo {
  width: 40%;
  height: 100px;
  background: url( "../imagens/logo.png");
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 17px;
  overflow: hidden;
}
.entrar {
  width: 178px;
  height: 78px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 85%;
	right: 0%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  text-align: center;
  color: rgba(255,255,255,1);
	border: none;
	cursor: pointer;
}
.entrar {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.entrar:hover, .entrar:focus, .entrar:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}