* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
#header {
  width: 100%;
  height: 99px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.servico {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 70%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.servico:hover, .servico:focus, .servico:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.sobre {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 55%;
	right: 30%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.sobre:hover, .sobre:focus, .sobre:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.home {
  width: 85px;
  color: rgba(39,105,85,1);
  position: absolute;
  top: 15px;
  left: 40%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.home:hover, .home:focus, .home:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.logo {
  width: 40%;
  height: 82px;
  background: url( "../imagens/logo.png");
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 17px;
  overflow: hidden;
}
.entrar {
  width: 158px;
  height: 58px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 85%;
	right: 0%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: center;
  color: rgba(255,255,255,1);
	border: none;
	cursor: pointer;
}
.entrar {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.entrar:hover, .entrar:focus, .entrar:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.rodape {
  width: 100%;
  height: 124px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 1307px;
  left: 0px;
  overflow: hidden;
}
.rodape_txt {
	width: 10em;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 85px;
  left: 7em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: contain;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.rodape_txt_1 {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 85px;
  left: 1em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.colab {
  width: 95%;
  height: 240px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 1015px;
	left: 2.5%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.colab_head {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 50px;
  left: 2.5%;
  opacity: 1;
  text-align: center;
	font-size: 48px;
	font: bold;
	font-family: Oswald;
  font-weight: Bold;
}
.clique {
  width: 20%;
  height: 100px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 40%;
	border: none;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  color: rgba(255,255,255,1);
	cursor: pointer
}
.clique {
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.3s;
}
.clique:hover, .clique:focus, .clique:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.inscrevase {
  width: 47.5%;
  height: 832px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 50%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.inscrevase_head {
  width: 60%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40%;
  left: 20%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.inscrevase_button {
  width: 40%;
	height: 13%;
  color: rgba(39,105,85,1);
  position: absolute;
  top: 83%;
  left: 30%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	border-radius: 35px;
	background-size: contain;
	background: rgba(255,255,255,1.00);
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
	cursor: pointer;
}
.inscrevase_png {
	width: 12%;
	height: 11%;
  position: absolute;
  top: 84%;
  left: 44%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
}
.login {
  width: 47.5%;
  height: 832px;
  background: rgba(192,192,192,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 2.5%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  overflow: hidden;
}
.login_body {
  width: 100%;
  height: 832px;
  background: url("../images/v247_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 0px;
  overflow: hidden;
}
.login_facebook {
  width: 20%;
  height: 119px;
  background: url(../imagens/facebook.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 10%;
  overflow: hidden;
}
.login_google {
  width: 20%;
  height: 115px;
  background: url( "../imagens/google-plus.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 40%;
  overflow: hidden;
}
.login_linkedin {
  width: 20%;
  height: 112px;
  background: url( "../imagens/linkedin.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 70%;
  overflow: hidden;
}
.login_head {
  width: 60%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 23px;
  left: 20%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 52px;
  opacity: 1;
  text-align: center;
}
.login_txt {
  width: 60%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 287px;
  left: 20%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.login_email {
  width: 50%;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 25%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	font-size: 24px;
	text-align: center;
	border: none;
}
.login_senha {
  width: 50%;
	height: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 25%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	font-size: 24px;
	text-align: center;
	border: none;
}
.login_button {
	width: 40%;
	height: 13%;
  color: rgba(255,255,255,1.00);
  position: absolute;
  top: 78%;
  left: 30%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
	border-radius: 35px;
	background-size: contain;
	background: rgba(39,105,85,1);
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
	cursor: pointer;
}
.login_esqueci {
  width: 30%;
	height: auto;
  color: rgba(255,255,255,1.00);
  position: absolute;
  top: 70%;
  left: 35%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
	border-radius: 35px;
	background-size: contain;
	background: rgba(39,105,85,0.00);
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
	cursor: pointer;
}