* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.rodape {
  width: 100%;
  height: 124px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 6500px;
  left: 0px;
  overflow: hidden;
}
.rodape_txt {
	width: 10em;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 7em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: contain;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.rodape_txt_1 {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 1em;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
	background: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
#header {
  width: 100%;
  height: 99px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.servico {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 70%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.logo {
  width: 40%;
  height: 82px;
  background: url( "..\imagens\logo.png");
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 17px;
  overflow: hidden;
}
/* Bob */
.sobre {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 55%;
	right: 30%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
.sobre:hover, .sobre:focus, .sobre:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.home {
  width: 85px;
  color: rgba(39,105,85,1);
  position: absolute;
  top: 15px;
  left: 40%;
	right: 15%;
  font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
	background-color: rgba(0,0,0,0.00);
	border: none;
	cursor: pointer;
}
/* Bob */
.home:hover, .home:focus, .home:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.entrar {
  width: 158px;
  height: 58px;
  background: rgba(39,105,85,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 85%;
	right: 0%;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
	font-family: Oswald;
  font-weight: Bold;
  font-size: 36px;
  text-align: center;
  color: rgba(255,255,255,1);
	border: none;
	cursor: pointer;
}
.entrar {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.entrar:hover, .entrar:focus, .entrar:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.divisoria {
	position: absolute;
	height: 10px;
	left: 0%;
	right: 0%;
	top: 139px;
	background: #276955;
	opacity: 0.3;
}
.container {
  position: absolute;
  top: 145px;
  font-family: Oswald;
}
h1 {
  color: #276955;
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
  color: #276955;
}
p{
  font-size: 2rem;
}
