@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFFFFF;
}
.topo{
	background-color: #FFFFFF;
	width: 1024px;
	height: 80px;
	border-bottom: 10px #53878C;
	margin: auto;	
}
.logo{
	float: left;
	width: 70px;
	height: 70px;
	background-image: url("../imagens/logo.png");
	position: relative;
	margin: 10px 0 0 40px;
}
.topo .menu ul{
	position: relative;
	float: right;
	margin: 35px 40px 0 50px;
}
.topo .menu ul li{
	display: inline;
	padding: 10px 10px 0 70px;
	float: none;	
}
.topo .menu ul li a{
	color: #000000;
	text-decoration: none;
	font-family: LEMON MILK Bold;
	font-size: 100%;
	font-weight: bold;
}
.topo .menu ul li a:hover {
	text-decoration: underline;
	color: #276955;
	font-family: LEMON MILK Bold;
	font-size: 100%;
	font-weight: bold;
}
.topo .menu ul li .active{
	color: #276955;
	font-weight: bold;
	font-family: LEMON MILK Bold;
	font-size: 100%;
}
.corpo1{
	background-color: #276955;
	height: 219px;
	margin: auto;
}
.desc h1 {
	font-weight: bold;
	font-family: LEMON MILK Bold;
	font-size: 250%;
	color: #ffffff;
}
.desc {
	margin: 0 0 0 20px;
	width: 300px;
	height: 300px;
    border: 9px solid #276955;
	border-radius: 5px;
    overflow: hidden;
    perspective: 1px;
    height: 200px;
}
.desc p1 {
	font-weight: bold;
    font-family: LEMON MILK Bold;
    font-size: 80%;
}
.img {
    margin-top: -218px;
    margin-right: 0;
    margin-left: 550px;
    margin-bottom: 0;
    width: 513px;
    height: 220px;
    background: url("../imagens/garbage-clipart-mountain-garbage-1-transparent.png");
}
