body {
	background-color: #FFFFFF;
}
.topo{
	background-color: #FFFFFF;
	width: 1024px;
	height: 80px;
	border-bottom: 10px #53878C;
	margin: auto;	
}
.logo{
	float: left;
	width: 70px;
	height: 70px;
	background-image: url("../imagens/logo.png");
	position: relative;
	margin: 10px 0 0 40px;
}
.topo .menu ul{
	position: relative;
	float: right;
	margin: 35px 40px 0 50px;
}
.topo .menu ul li{
	display: inline;
	padding: 10px 10px 0 70px;
	float: none;	
}
.topo .menu ul li a{
	color: #000000;
	text-decoration: none;
	font-family: "Bebas Neue";
	font-size: 200%;
	font-weight: bold;
}
.topo .menu ul li a:hover {
	text-decoration: underline;
	color: #276955;
	font-family: "Bebas Neue";
	font-size: 200%;
	font-weight: bold;
}
.topo .menu ul li .active{
	color: #276955;
	font-weight: bold;
	font-family: "Bebas Neue";
	font-size: 200%;
}
